<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <link href="/css/About.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/navbar', { user }) %>
    
    <main>
      <div class="about-container">
        <div class="about-head">
          <h1>О Musicon</h1>
          <p>
            С Musicon вы легко найдёте идеальную музыку или подкаст для любого момента.
            В нашей коллекции — много треков и эпизодов.
            Будь то дорога, тренировка, вечеринка или отдых — нужная мелодия всегда под рукой.
            Выбирайте треки самостоятельно или доверьтесь Musicon —
            мы подберём музыку специально для вас.
            Исследуйте подборки любимых исполнителей и знаменитостей,
            создавайте персональные радиостанции и просто наслаждайтесь.
            Наполните свою жизнь музыкой с Musicon. 
            Просто войдите и слушайте бесплатно.
          </p>
          <img src="" />
          <h1>Немного обо мне!</h1>
        </div>
        <div class="about-body">
          <img src="/Resources/Ava.jpg" />
          <div class="about-me">
            <p>Приветствую👋, я Анастасия (Delirium).</p>
            <p>
              Я всё ещё учусь, чтобы стать лучшим ИТ-разработчиком с
              каждым днём.
            </p>
            <p>- 🌱 В настоящее время я изучаю веб-разработку.</p>
            <p>- 🔭 В настоящее время я работаю над Java.</p>
            <p>- 👯 Я надеюсь, что вам, ребята, понравится эта страница.</p>
          </div>
        </div>
        <h1>Следите за мной в:</h1>
        <div class="contact">
          <div class="social">
            <a href="https://vk.com/i_hate_myself_and_want_to_die0" target="_blank">
              <ion-icon name="logo-vk" style="color: #4267b2"></ion-icon>
            </a>
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
              <ion-icon name="mail-outline" style="color: #eb4f0c"></ion-icon>
            </a>
          </div>
        </div>
      </div>
    </main>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/d5b2540b36.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>